// Place all the styles related to the pools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.controls {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1001;
	height: 30px;
}

.card {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	height: 30px;
	img {
		padding: 5px;
		width: 100%;
		border-radius: 10px;
	}
}

.decks {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	min-height: 400px;
	height: 100%;
	margin: 30px 3px;
}

.main_deck, .sideboard {
	background-color: rgb(186, 191, 185);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: inherit;
	border: 2px black solid;
	border-radius: 10px;
	border: 2px black solid;
	margin-top: 3px;
	z-index: -100px;
	overflow: scroll;
	ul {
		min-height: 400px;
		height: 600px;
		list-style-type: none;
		padding: 0px;
	}
}

.foil:after {
	content: "";
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 5%;
	left: 5%;
	height: 300%;
	width: 90%;
	overflow: visible;
	border-radius: 5px;
	background: linear-gradient(135deg, rgba(255,255,255,0.33) 0%,rgba(255,255,255,0.33) 60%,rgba(255,255,255,0) 61%,rgba(255,255,255,0) 100%);
}

.full_pool {
	background-image:url("data:image/svg+xml;utf8,
	  <svg xmlns='http://www.w3.org/2000/svg' version='1.1'
	       height='50px' width='120px'>
	    <text x='0' y='15' fill='grey' font-size='20'>Pool</text>
	  </svg>");
}

.main_deck {
	background-image:url("data:image/svg+xml;utf8,
	  <svg xmlns='http://www.w3.org/2000/svg' version='1.1'
	       height='50px' width='120px'>
	    <text x='0' y='15' fill='grey' font-size='20'>Main</text>
	  </svg>");
}

.sideboard {
	background-image:url("data:image/svg+xml;utf8,
	  <svg xmlns='http://www.w3.org/2000/svg' version='1.1'
	       height='50px' width='120px'>
	    <text x='0' y='15' fill='grey' font-size='20'>Side</text>
	  </svg>");
}

