// Place all the styles related to the pools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	img {
		padding: 5px;
		width: 100%;
		border-radius: 10px;
	}
}

.pool, .build {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	background-color: rgb(186, 191, 185);
	min-height: 400px;
	border: 2px black solid;
	margin: 3px;
	border-radius: 10px;
}

.foil:after {
	content: "";
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	position: absolute; /* could also be absolute */
	overflow: hidden;
	top: 5%;
	left: 5%;
	height: 90%;
	width: 90%;
	z-index: 10;
	border-radius: 5px;
	background: linear-gradient(135deg, rgba(255,255,255,0.33) 0%,rgba(255,255,255,0.33) 60%,rgba(255,255,255,0) 61%,rgba(255,255,255,0) 100%);
}

