<div class='row controls'>
	<button class='col span_3 sort-by-pack' type="button" >Pack</button>
	<button class='col span_3 sort-by-color' type="button" >Color</button>
	<button class='col span_3 sort-by-rarity' type="button" >Rarity</button>
	<button class='col span_3 sort-by-cost' type="button">Cost</button>
</div>