<div class='row pool'>
	<%= render 'controls' %>
	<div class='row'>
		<div class='full_pool gridster span_12'>
			<ul>
	    </ul>
		</div>
	</div>
</div>

<div class='row build' id='build_1'>
	<%= render 'controls' %>
	<div class='row'>
		<div class='col span_9 main_deck gridster' id='main_1'>
		</div>
		<div class='col span_3 sideboard gridster' id='side_1'>
		</div>
	</div>
</div>