<div class='row deck' id='deck_1'>
	<%= render 'controls' %>
	<div class='row'>
		<div class='col span_12 main_deck' id='main_1'>
			<% 12.times do %><ul class='col span_1'></ul><% end %>
		</div>
		<div class='col span_12 sideboard' id='side_1'>
			<% 12.times do %><ul class='col span_1'></ul><% end %>
		</div>
	</div>
</div>

<script id="card_template" type="text/x-handlebars-template">
	<li class='card {{#if this.foil}}foil{{/if}}' id={{this.id}} data-color={{this.color}} data-rarity={{this.rarity}} data-cmc={{this.cmc}} data-pack={{this.pack}}>
		<img src={{this.image_url}} class='' />
	</li>
</script>